body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  height: 100%;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */
h1 {
  font-family:  "Avenir Next", Avenir Next;
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

p {
  font-family:  "Avenir Next", Avenir Next;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.container {
  width: 739px;
  height: 416px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /*transition: all .25s ease-out;*/
}

.container:hover .media-options{
  opacity: 1;
  top: 0;
}

.media-options {
  background-color: rgba(5, 5, 5, .8);
  height: 100%;
  opacity: 0;
  /*padding: $default-padding;*/
  position: absolute;
  top: 40vh;
  transition: 500ms;
  width: 100%;
}

.active-smoked-container {
  opacity: 1;
  top: 0;
}

.background-image {
  background-image: url("../images/forest.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all .25s linear;
  transform: translateZ(0);
}

.media-container {
  display: none;
  position: absolute;
  left: 50%
}

.animation-left {
  display: block !important;
  animation-name: drag-left;
  animation-duration: .7s;
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}

@keyframes drag-left {
    0% {
        left: -100px;
    }
    100% {
        left 50%;
    }
}
.animation-right {
    display: block !important;
    animation-name: drag-right;
    animation-duration: .7s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

@keyframes drag-right {
    0% {
        left: 103%;
    }
    100% {
        left: 50%;
    }
}

/* .initial-container-left { */
/*   left: -100px; */
/* } */

/* .initial-container-right { */
/*   right: 168px; */
/* } */
.linkedin-container {
  top: 44%;
}

.github-container {
  top: 30%;
}

.twitter-container {
  top: 58%;
}

.email-container {
  top: 72%;
}

.linked-media-image {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #C2C2C2;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #C2C2C2;
  margin-right: 14%;
  opacity: 0.8;
}



.linked-media-image:hover {
  opacity: 1;
}

#title {
  position: relative;
}

.github {
  background-image: url("../images/github.svg");
}

.linkedin {
  background-image: url("../images/linkedin.svg");
}

.twitter {
  background-image: url("../images/twitter.svg");
}

.mail {
  background-image: url("../images/mail.svg");
  margin-right: 0
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 300px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.draggable {
  display: inline-block;
  position: relative;
  top: -30vh;
  animation: mymove 1.7s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transition: all 500ms;
  min-width: 5px;
}

@keyframes mymove {
    0% {
      top: -30vh;
      /*transform: rotate(45deg);*/
    }
    100% {
      left: 0;
      top: 0;
      /*transform: rotate(360deg);*/
    }
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-strings {
  height: 180px;
}

/* Mobile */

@media screen and (min-device-width : 320px) and (max-device-width : 800px) {

  .typed-strings h1 {
    margin: 10px 10px 28px 10px;
    font-size: 26px;
  }

  .typed-strings p {
    margin: 8px;
    font-size: 15px;
  }

  body, .media-options, .background-image, .media-container {
    width: 375px;
  }

  #bodySection {
    margin: 38px;
    margin-top: 45px;
  }

  #mainImage{
    width: 300px;
  }

  .media-options {
    width: 300px;
    height: 170px;
  }

  .linked-media-image {
    width: 45px;
    height: 45px;
    margin-right: 4%;
  }

  .media-container {
    margin-left: -10%;
  }

  .container {
    height: 170px;
    width: 300px;
    margin-top: 80px;
    margin-right: 22px;
  }
  .linkedin-container {
    top: 54%;
  }

  .github-container {
    top: 43%;
  }

  .twitter-container {
    top: 66%;
  }

  .email-container {
    top: 78%;
  }
}
