body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  height: 100%;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */
h1 {
  font-family:  "Avenir Next", Avenir Next;
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

p {
  font-family:  "Avenir Next", Avenir Next;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.container {
  width: 739px;
  height: 416px;
  margin: 0 auto;
  transition: all .25s ease-out;
}

.container:hover {
  background: #343434;
}

.background-image {
  background-image: url("../images/forest.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all .25s linear;
  transform: translateZ(0);
}

.background-image:hover {
  opacity: .6;
}
