body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  height: 100%;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */
h1 {
  font-family:  "Avenir Next", Avenir Next;
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

p {
  font-family:  "Avenir Next", Avenir Next;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.container {
  width: 739px;
  height: 416px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  /*transition: all .25s ease-out;*/
}

.container:hover .media-options{
  opacity: 1;
  top: 0;
}

.media-options {
  background-color: rgba(5, 5, 5, .8);
  height: 100%;
  opacity: 0;
  /*padding: $default-padding;*/
  position: absolute;
  top: 40vh;
  transition: 500ms;
  width: 100%;
}

.active-smoked-container {
  opacity: 1;
  top: 0;
}

.background-image {
  background-image: url("../images/forest.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all .25s linear;
  transform: translateZ(0);
}

.media-container {
  position: relative;
  top: 45%;
  margin-left: 10%;
}

.linked-media-image {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #C2C2C2;
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #C2C2C2;
  margin-right: 14%;
  opacity: 0.8;
}

.linked-media-image:hover {
  opacity: 1;
}

#title {
  position: relative;
}

.github {
  background-image: url("../images/github.svg");
}

.linkedin {
  background-image: url("../images/linkedin.svg");
}

.twitter {
  background-image: url("../images/twitter.svg");
}

.mail {
  background-image: url("../images/mail.svg");
  margin-right: 0
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 300px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-strings {
  height: 180px;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .container {
    width: 500px;
    height: 416px;
    margin-top: 200px;
  }

  .typed-strings{
    width: 100%;
  }

  .typed-strings h1 {
    font-size: 70px;
  }

  .typed-strings p {
    font-size: 30px;
  }

}
